<form action="/items" method="post">
    <label for="model"> Add Car Model</label> 
    <input id="model" name="model" type="text">
    <label for="miles"> Add Mileage</label> 
    <input id="miles" name="miles" type="text">
    <label for="price"> Add Price</label> 
    <input id="price" name="price" type="text">

    <button type="submit">Submit</button>
</form>